<!-- Styling adjustments -->
<style type="text/css">
  header.foe-header {
    position: fixed !important;
    background-color: #1b0802 !important;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .5) !important;
  }
</style>



<!-- Block 10 "What’s in your Christmas bee saver kit" -->

<div class="text-white bg-tertiary" style="background-color:#9198C6;">
  <div class="container">
    <div class="row">
      <div class="sticky-scroll-layout-block col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-5 offset-lg-1 col-xl-6 offset-xl-0 py-5 ">
        <img class="img-fluid" src="//cdn.friendsoftheearth.uk/sites/default/files/styles/hero_image/public/media/images/4x3_PackShot.jpg?h=c282529e&itok=3Zh57mOi" />
        <h3 class="text-white pb-3 pt-5">What’s in your Christmas Bee Saver Kit</h3>
        <ul>
          <li><strong>Bee kit folder </strong>– to store all your bee-saving materials in one place</li>
          <li><strong>Wildflower seeds</strong> – provide your neighbourhood bees with vital food and habitat</li>
          <li><strong>Bee ID guide</strong> – so you can identify your new garden visitors</li>
          <li><strong>Garden planner</strong> – to help you create a bee-friendly garden all year round</li>
          <li><strong>Christmas goodies</strong> – a Christmas card and festive wrapping paper</li>
          <li><strong>Bee saver guide</strong> – with tips including how to build your own bee hotel</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- CCK Block "Field: field_full_width_image" -->

<p style="margin:0">
  <img class="w-100" src="https://act.friendsoftheearth.uk/sites/foeuk/files/styles/full/public/beeflip.jpg?itok=bf8NpJoA">
</p>



<!-- Block 12 "Why we need to help bees" -->

<div class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-5 offset-lg-1 col-xl-6 offset-xl-0 py-5">
        <h3 class="text-white pb-3">Why we need to help bees</h3>
        <p>Bees pollinate flowers, plants and crops that support other species (including humans). Without bees, the
          future wellbeing of our children and grandchildren would be at risk.</p>
        <p>That's why it's so worrying that 13 bee species have become extinct in the UK since 1900 and a further 35 are
          on the threatened species list.</p>
        <p>Three reasons Britain's bees need your help today:</p>
        <ul>
          <li>The loss of habitat is the most pressing problem facing British bees: 97% of our vital grasslands have
            been lost in the past 60 years.</li>
          <li>Bees pollinate 75% of our main food crops worldwide, including some of our favourite produce like apples,
            strawberries, and tomatoes.</li>
          <li>Scientists estimate that it would cost over £1.8 billion every single year to pollinate UK crops by hand
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- Block 11 "How we help bees with your donation" -->

<div class="bg-extradark">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-1 col-xl-6 offset-xl-0 py-5 text-white">
        <h3 class="text-white pb-3">How we help bees with your donation</h3>

        <div class="row">

          <div class="d-flex mb-4 col-12 col-sm-6 col-lg-10 col-xl-6">
            <div class="sticky-scroll-card bg-dark">
              <div class="sticky-scroll-card-image">
                <img class="img-fluid" alt="Kids Club kidz" src="//cdn.friendsoftheearth.uk/sites/default/files/styles/link_collection/public/media/images/Kids%20Club%20FOE_0.jpg?itok=hKRiZoj9" title="Kids Club kidz">
                <h4 class="sticky-scroll-card-title">Awareness</h4>
              </div>
              <div class="sticky-scroll-card-description">
                We have raised public awareness of bee decline, and why it's so important to save our bees.
              </div>
            </div>
          </div>

          <div class="d-flex mb-4 col-12 col-sm-6 col-lg-10 col-xl-6">
            <div class="sticky-scroll-card bg-dark">
              <div class="sticky-scroll-card-image">
                <img class="img-fluid" alt="Kids Club kidz" src="//cdn.friendsoftheearth.uk/sites/default/files/styles/link_collection/public/media/images/bee-259983_1920.jpg?itok=9yQs3jSI" title="Kids Club kidz">
                <h4 class="sticky-scroll-card-title">Government</h4>
              </div>
              <div class="sticky-scroll-card-description">
                We put bees and other wildlife on the political agenda and continue to influence our government to commit to protecting bees.
              </div>
            </div>
          </div>

          <div class="d-flex mb-4 col-12 col-sm-6 col-lg-10 col-xl-6">
            <div class="sticky-scroll-card bg-dark">
              <div class="sticky-scroll-card-image">
                <img class="img-fluid" alt="Kids Club kidz" src="//cdn.friendsoftheearth.uk/sites/default/files/styles/link_collection/public/media/images/Field%20of%20oilseed%20rape%20with%20bees.jpg?itok=WR5Q-IYT" title="Kids Club kidz">
                <h4 class="sticky-scroll-card-title">Pesticides</h4>
              </div>
              <div class="sticky-scroll-card-description">
                We work with bee-friendly farmers to show the government and other farmers that our crops can grow without bee-harming pesticides.
              </div>
            </div>
          </div>

          <div class="d-flex mb-4 col-12 col-sm-6 col-lg-10 col-xl-6">
            <div class="sticky-scroll-card bg-dark">
              <div class="sticky-scroll-card-image">
                <img class="img-fluid" alt="Kids Club kidz" src="//cdn.friendsoftheearth.uk/sites/default/files/styles/link_collection/public/media/images/Wild%20flower%20meadow.jpg?itok=_hJair8F" title="Kids Club kidz">
                <h4 class="sticky-scroll-card-title">Habitats</h4>
              </div>
              <div class="sticky-scroll-card-description">
                We send out thousands of packets of wildflower seeds each year, encouraging the public to provide more habitat for bees.
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
