.new-ux-sticky-container {
  padding-bottom: $spacer;

  .article-header {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 0;

    h1 span.display-1,
    h1 span.display-2 {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      min-height: 50vw * .55;

      h1 span.display-1,
      h1 span.display-2 {
        font-size: 2rem;
      }
    }

    @include media-breakpoint-up(xl) {
      min-height: 50vw * .66667;

      h1 span.display-1,
      h1 span.display-2 {
        font-size: 3rem;
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($foe-extradark, .3);
      z-index: 1;
    }

    > div {
      position: relative;
      z-index: 2;
      margin-top: 1rem;
    }

    h1 {
      color: $foe-white !important;
      text-shadow: 0 0 3px $foe-extradark;
      margin: 0;
      padding: 0;
      line-height: 1.12;

      &.subtitle {
        font-weight: 300;
      }
    }
  }

  .no-activity-yet {
    visibility: hidden;
  }
}

.new-ux-supporters {
  padding-left: $spacer;
  padding-right: $spacer;
  padding-top: $spacer;
  padding-bottom: $spacer;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    z-index: 2;
    top: 0;
    width: $spacer;
    height: $spacer*3;
    content: '';
    display: block;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, $foe-white 0%, transparent 100%);
  }

  &::after {
    right: $spacer;
    background: linear-gradient(to left, $foe-white 0%, transparent 100%);
  }

  .recent-supporters-wrapper {
    overflow: hidden;
    min-height: 60px !important;
  }

  .no-activity-yet {
    visibility: hidden;
  }

  .recent-supporters {
    width: 9999px;

    .supporter {
      border-bottom: none;
      padding: 0;
      margin: 0;
      margin-bottom: $spacer/4;
      position: relative;
      padding-right: $spacer;
      padding-left: 42px;
      display: block;
      float: none;

      @include media-breakpoint-up(sm) {
        opacity: 0;
        transform: translateX($spacer*-2);
        animation: fadeIn 500ms ease-out 350ms forwards;
        vertical-align: top;
        float: left;
        margin-bottom: 0;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        background: $foe-primary url(../img/pencil.svg) no-repeat center;
        background-size: 50%;
        mask-size: 50%;
        border: 2px solid $foe-primary;
        width: 32px;
        height: 32px;
        padding: 10px;
        border-radius: 50%;
      }

      span {
        display: block;
        font-size: 14px !important;
        margin: 0 !important;
      }

      .name {
        &::after {
          content: ' signed this petition';
        }
      }
    }
  }
}

.progress-bar-mobile {
  background-color: $foe-extradark;
  margin-top: 0;
  padding: $spacer/2 $spacer;
  color: $foe-white;
  margin-bottom: $spacer;

  .pgbar-wrapper {
    margin-bottom: 0;
    font-size: 85%;

    .pgbar-current,
    .pgbar-bg {
      height: $spacer/2;
    }
  }
}

.new-ux-fixed-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-navbar;
  opacity: 1 !important;
  background-color: $foe-primary;
  padding: $spacer;
  transform: translateY(0);
  transition: transform .25s ease-in-out;

  @include media-breakpoint-down(lg) {
    &.slide-out-mobile {
      transform: translateY(100%) !important;
    }
  }

  @include media-breakpoint-up(lg) {
    &.slide-out-desktop {
      transform: translateY(100%) !important;
    }
  }

  button {
    font-size: 95%;
    width: 100%;
    max-width: 20em;
  }

  @include media-breakpoint-up(lg) {
    padding: $spacer $spacer*2;

    button {
      font-size: 100%;
      width: (320/14) * 1rem;
    }
  }

  body.foe-page-has-cookie-popup & {
    transform: translateY(-38px);

    @media (min-width: 493px) {
      transform: translateY(-24px);
    }
  }
}

aside.new-ux-sticky {
  padding: $spacer;
  background-color: darken($foe-extradark, 10%);

  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45vw;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: $zindex-navbar;

    .petition-sidebar,
    .donation-sidebar {
      position: relative;
      padding-top: $spacer;
      padding-bottom: $spacer*4;

      &.fixed {
        position: fixed;
      }
    }

    body.logged-in.layout-sticky &,
    body.logged-in.layout-sticky-scroll & {
      top: 60px;
    }
  }

  @include media-breakpoint-up(xl) {
    width: 33vw;
  }

  .webform-component-markup {
    font-size: 85%;
  }

  .pgbar-wrapper {
    max-width: none !important;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer;
    }
  }

  .webform-component-postcode label {
    display: none;
  }
}

section.foe-new-ux-main-2018 {
  display: none;

  body.layout-sticky &,
  body.layout-sticky-scroll & {
    display: block;
  }

  .petition-sidebar,
  .donation-sidebar {
    background: darken($foe-extradark, 10%);
  }
}

body.layout-sticky {
  .foe-new-ux-main-2017 {
    display: none;
  }

  .node-donation {
    position: static;
  }

  .foe-donation-main-2017,
  .region-content-bottom {
    display: none;
  }
}

body.layout-sticky-scroll {
  /* bee palette copied here for now - not sure if we will do own separate palette for new bsk designs? */
  $bee-primary:          #cf8407;
  $bee-light:            #edb516;
  $bee-accent:           #edb516;
  $bee-dark:             #964001;
  $bee-donate:           #56bca2;
  $bee-offwhite:         #f8f8f3;

  // Remove supporter care block on mobile
  @include media-breakpoint-down(xs) {
    #block-block-2 {
      display: none;
    }
  }

  .new-ux-sticky-container {
    padding-bottom: 0;
  }

  .article-header {
    position: relative;
    min-height: 75vh;

    // Override title sizing
    h1 span.display-1 {
      font-size: 2.5rem !important;

      @include media-breakpoint-up(sm) {
        font-size: 3.2rem !important;
      }

      @include media-breakpoint-up(md) {
        font-size: 3.9rem !important;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3.4rem !important;
      }

      @include media-breakpoint-up(xl) {
        font-size: 3.8rem !important;
      }

      @include media-breakpoint-up(xxl) {
        font-size: 3.6rem !important;
      }
    }
  }

  div#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; /* Black background with opacity */
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    // pointer-events: none;
    z-index: 1000;
    cursor: pointer; /* Add a pointer on hover */
    pointer-events: none;

    &.active {
      opacity: .5;
      pointer-events: all;
    }
  }

  aside.new-ux-sticky-scroll {
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      padding-bottom: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      background-color: transparent !important;
      pointer-events: none;
      z-index: 2000; // Above the overlay

      .form-content {
        margin-top: 5 * $spacer;
        pointer-events: all;
        overflow-x: hidden;
        overflow-y: auto;
        transition: box-shadow 300ms ease-in-out;
        position: relative;

        &.active {
          box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .75);
        }
      }

      .form-inner-content {
        padding: $spacer;
      }
    }

    .donation-sidebar {
      .donation-certifications {
        @include media-breakpoint-down(md) {
          margin-top: $spacer;
        }

        .logos {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
      
          @include media-breakpoint-up(md) {
            align-items: center;
          }
          
          .logos-right {
            img {
              float: right;
            }
      
            @include media-breakpoint-up(md) {
              img {
                float: none;
              }
            }
          }
      
          .logo {
            height: $spacer * 2.5;
      
            @include media-breakpoint-up(sm) {
              height: $spacer * 2.25;
            }
      
            @include media-breakpoint-up(md) {
              height: $spacer * 1.05;
            }
      
            @include media-breakpoint-up(xl) {
              height: $spacer * 1.15;
            }
          }
        }
        
      }
    }
  }

  .node-donation {
    position: static;
  }

  .donation-copy {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: $spacer * 3;
    padding: $spacer;
    background-color: rgba(0, 0, 0, .75);

    :last-child {
      margin-bottom: 0;
    }
  }

  .text-primary {
    color: $foe-primary;
  }

  .text-white {
    color: #fff;
  }

  .bg-gray {
    background-color: #707070;
  }

  .bg-tertiary {
    background-color: #9198c6;
  }

  .sticky-scroll-layout-block {
    img {
      width: 100%;
      height: auto;
    }
  }

  .section {
    padding: .5rem;

    .section-title {
      text-align: center;
      font-weight: bold;
      padding: .5rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    .section-body {
      padding: .5rem;
    }
  }

  .sticky-scroll-card-image {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .35);
    }
  }

  .sticky-scroll-card-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff !important;
    text-shadow: 0 0 2px #000;
    z-index: 2;
  }

  .sticky-scroll-card-description {
    padding: 1rem;
    font-weight: 700;
  }
}

// TODO: If/when new-ux-2018 is implemented, remove these in favour of the new hero_image field
.join-plasticfreefriday {
  background-image: url(../img/optimize-ux/join-plasticfreefriday.jpg);
}

.help-reduce-plastic-oceans {
  background-image: url(../img/optimize-ux/help-reduce-plastic-oceans.png);
}

.lets-end-waste-coffee-cups {
  background-image: url(../img/optimize-ux/lets-end-waste-coffee-cups.png);
}

.shape-future-our-countryside {
  background-image: url(../img/optimize-ux/shape-future-our-countryside.jpg);
}

.stop-government-forcing-fracking-communities {
  background-image: url(../img/optimize-ux/stop-government-forcing-fracking-communities.png);
}

.micro-fibres-petition {
  background-image: url(../img/optimize-ux/tell-clothing-retailers-stop-plastic-pollution.jpg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX($spacer*-2);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


// TODO: Refactor this into a sensible place.
//       Maybe set a "background" colour for each palette?
//       Or does the "sticky-scroll" layout ALWAYS have a white background?
//       (In which case we can move this to the _palette-switcher.scss file.)
body.campaign-bees aside.new-ux-sticky-scroll .form-content {
  // Forced background override to white for bee campaign sticky forms
  background-color: map-get(map-get($palette-mapping, 'bees'), white);
}
