.node-petition-sidebar {
  .petition-copy {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .petition-sidebar {
    background-color: $foe-extradark;
    color: $foe-white;
    padding: $spacer*1.5 $spacer;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: $foe-light;
    }

    .picker {
      .picker-handle {
        margin-top: 3px;
      }

      .picker-label {
        color: $gray-600;
        padding-left: 6px;
        width: calc(100% - 22px);
        line-height: 20px;

        &:hover {
          color: $foe-white;
        }
      }
    }

    .fieldset-legend {
      color: $foe-white;
    }

    .form-type-checkbox {
      border: 0 solid transparent;
      padding: 0;
    }

    .webform-ajax-slide-loading-dummy .container div {
      margin: $spacer auto 0 auto;
      background: url(../img/ajax-white.svg) center center no-repeat transparent;
      width: 120px;
      height: 120px;
      text-indent: -99999px;
    }
  }

  .webform-progressbar {
    margin-bottom: 1em;

    &::before,
    &::after {
      background-color: $foe-extradark;
    }
  }
}
