article.node-thank-you-page {
  .foe-scrolling-thank-you-page-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));

    .article-header {
      p,
      a,
      h2,
      h3,
      h4 {
        color: white !important;
        text-shadow: .1em .1em .3em rgba(0, 0, 0, .5);
      }
    }
  }

  .foe-scrolling-thank-you-page-section__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: $spacer;
    padding-bottom: $spacer;

    // Flexbox resets the width of the rows to auto, so enforce it here:
    .row {
      width: 100%;
    }
  }

  .btn-container {
    padding-top: $spacer/4;
    padding-bottom: $spacer/4;
  }

  .foe-box {
    text-align: center;
  }

  .foe-box-solid {
    background: rgb(243, 243, 247);
    padding: 1em;
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 580px;
    }
  }

  .region.region-content-bottom {
    display: none;
  }

  .scrolling-field-body {
    color: #fff;
  }
}

// Hide the share light in favour of our own implementation
body.node-type-thank-you-scroll {
  #block-share-light-current-page {
    display: none !important;
  }
}
