.related-campaign-container {
  background-color: $foe-primary;
  overflow: hidden;

  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: $foe-nav-height-small;
    z-index: $zindex-navbar;

    @include media-breakpoint-up(sm) {
      top: $foe-nav-height-small;
    }

    @include media-breakpoint-up(md) {
      top: $foe-nav-height-medium;
    }
  }

  a {
    background-color: $foe-accent;
    line-height: $spacer * 2;
    position: relative;
    font-weight: 600;
    display: block;
    width: 100%;
    padding-left: $spacer * 3;
    color: $foe-white !important;

    &:hover {
      color: $foe-white !important;
      text-decoration: none;
    }

    &::before {
      content: '';
      top: 0;
      bottom: 0;
      width: $spacer * 2;
      left: $spacer * -1;
      position: absolute;
      border: $spacer solid $foe-primary;
      border-right: $spacer solid transparent;
    }

    &::after {
      content: '';
      top: 0;
      bottom: 0;
      width: 100%;
      left: 100%;
      position: absolute;
      background-color: $foe-accent;
    }
  }
}
