// Local adjustments that should be captured into web-core, then removed from this file.

$sunrise: #faef63;
$sunset: #ea5c5c;
$ice: rgb(242, 242, 247);
$space: rgb(31, 36, 77);
$extradark: rgb(31, 36, 77);

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

$libre-franklin: 'Libre Franklin', sans-serif;

$border-radius: .5em;

.img-fluid-h {
  height: 100%;
  width: auto;
  max-width: 100%;
}
