.foe_cc_wrapper {
  font-size: 14px;
  position: fixed;
  z-index: 100000;
  bottom: 0;
  right: 0;
  background-color: lighten($foe-primary, 40%);
  padding: 2em;
  margin: 0 2em;
  width: 30em;
  max-width: calc(100% - 4em);
  box-shadow: .25em .25em 2.5em rgba(0, 0, 0, .75);

  @include media-breakpoint-up(sm) {
    font-size: 15px;
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.foe_cc_content__button {
  color: $foe-white;
  background-color: $foe-primary;
  padding: 1em;
  margin: 0 auto 1em;
  border-radius: 2px;
  font-weight: 700;
  display: block;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    color: $foe-white;
    background-color: lighten($foe-primary, 20%);
  }
}

.foe_cc_content__message {
  display: block;
}

.foe_cc_content__link {
  color: $foe-primary !important;
  display: block;
  margin-top: 1em;
}
