body.overlay-open {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.ui-widget-overlay {
  background-color: rgba(0, 0, 0, .8);
  background-image: none;
  opacity: 1;
}

.campaignion-overlay.ui-widget-content {
  background: none;
  margin: 0;
  padding: 2rem;
  border: none;
  position: fixed;
  height: 100vh !important;
  width: 100vw !important;
  z-index: 100000;
  overflow: auto;

  .campaignion-overlay-options {
    box-shadow: 1.2rem 1.2rem 1.5rem rgba(0, 0, 0, .75);
    background: rgba(255, 255, 255, .9);
    font-family: $libre-franklin;
    max-width: 40rem;
    padding: 2rem;
    margin: 2px auto;
  }

  .campaignion-overlay-introduction {
    margin-top: 0;
  }

  a.closeButton {
    z-index: 10;
    opacity: 1;
    padding: 0;
    color: $foe_secondary;
    background-color: $foe_offwhite;
    box-shadow: .1rem .1rem .75rem rgba(0, 0, 0, .1);
    display: block;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    top: .25rem;
    right: .25rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 1px solid rgba($foe_primary, .2);
    text-align: center;
    cursor: pointer;
    transition:
      background-color 300ms ease-in-out,
      border-color 300ms ease-in-out,
      box-shadow 300ms ease-in-out,
      transform 300ms ease-in-out;

    svg {
      width: 100%;
      height: 100%;
      vertical-align: baseline;
      transition: transform 300ms ease-in-out;

      path {
        transition: stroke 300ms ease-in-out;
        stroke: $foe_primary;
      }
    }

    &:hover {
      background-color: #902020;
      border-color: $foe_offwhite;
      box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, .1);
      transform: scale(1.25);

      svg {
        transform: rotate(90deg);

        path {
          stroke: $foe_offwhite;
        }
      }
    }

    &:active {
      box-shadow: .2rem .2rem .8rem rgba(0, 0, 0, .15);
    }
  }

  a.closeLink {
    display: block;
    margin: 1rem 0 0;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}
