.pgbar-wrapper {
  max-width: 100% !important;

  .donation-box-inner & {
    padding: $spacer;
    background-color: $white;
    box-shadow: .2em .2em .75em rgba(0, 0, 0, .1);
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  p + p {
    margin-top: .5em;
  }
}

.pgbar-bg {
  border: 0 none transparent;
  border-radius: 10px;
  overflow: hidden;
  background-color: $gray-300;
  margin-top: $spacer/2;
  margin-bottom: $spacer/2;

  .node-teaser & {
    border: 1px solid $gray-200;
  }

  .pgbar-current {
    background-color: $foe-light;
    height: 18px;
    border-radius: 10px;
    width: 0%;
  }
}
