.foe-sharer-preview {
  width: 100%;
  max-width: 40rem;
  color: rgb(85, 85, 85);
  padding: 1em;
  display: block;
  background-color: rgb(243, 243, 247);
  text-align: left;
  text-decoration: none !important;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: $spacer;

  p {
    text-shadow: none !important;
    color: rgb(29, 33, 41) !important;
  }

  .foe-sharer-profile {
    margin-bottom: $spacer/4;

    .user-profile-image {
      background: url(../img/foe-social.jpg) no-repeat;
      background-size: cover;
      width: 60px;
      height: 60px;
      display: inline-block;
    }

    .user-profile-metadata {
      display: inline-block;
      vertical-align: top;
      padding: $spacer/2;

      span.name {
        display: block;
        color: #365899;
        font-weight: bold;
      }

      span.date {
        display: block;
        color: #616770;
        font-size: 12px;
      }
    }
  }

  .foe-sharer-image {
    width: 100%;
    padding-bottom: 52.2222%;
    background-size: cover;
    background-position: center center;
  }

  .foe-sharer-post-data {
    border: 1px solid #d0d0d0;
    padding: 10px;
    margin-bottom: $spacer/2;

    .foe-sharer-title {
      font-family: Georgia, serif;
      line-height: 1.1em;
      font-size: 1.1em;
    }

    .foe-sharer-description {
      margin-bottom: 0;
      font-size: .7em;
    }
  }

  .fb-share {
    $fb-color: #3b5998;

    margin: 0;
    background-color: $fb-color !important;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($fb-color, 80) !important;
    }
  }
}
