ul.share-light {
  padding: 0;
  list-style: none;

  li {
    $link-size: (20/14) * 1rem;
    $font-size: $link-size * 1.25;

    width: 100%;
    display: inline-block;
    margin-top: $link-size/5;

    a {
      text-align: left;
      padding-left: 2rem;
      width: 100%;
      max-width: 16em;
      line-height: $link-size;
      font-size: $font-size;
      color: inherit;
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: $foe-white;
      border-radius: $link-size;
      padding-top: $spacer / 2;
      padding-bottom: $spacer / 2;
      //.square($link-size);
      transition: background-color 150ms linear;

      @include media-breakpoint-up(sm) {
        width: 16em;
        line-height: 3rem;
        font-size: 2rem;
        color: inherit;
        margin-top: 1rem;
      }

      &::before {
        content: "";
        font: normal normal normal 14px/1 FontAwesome; /* stylelint-disable-line */
        transition: color 150ms linear;
        color: inherit;
        font-size: 2.5rem;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        line-height: 6rem;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .25) 90%);

        @include media-breakpoint-up(sm) {
          color: inherit;
          font-size: 1em;
        }

        // Uncomment to disable icon colours
        // background-color: currentColor !important;
        // background-image: none !important;
        // Hide icons on IE as the mask technique doesn't work there
        // ("ieX" classes added to the html element by conditional comments in the template)

        // IE 10 & 11
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          & {
            display: none;
          }
        }

        // Hide icons on MS Edge as the mask technique doesn't work there either
        // Get it together Microsoft.

        @supports (-ms-ime-align:auto) {
          & {
            display: none;
          }
        }
      }

      span {
        transition: color 150ms linear;
        font-family: "Libre Franklin", Calibri, Segoe, " Segoe UI", Optima, Helvetica, Arial, sans-serif;
        font-weight: 700;
        line-height: $link-size;
        display: inline;
        position: static;
        margin: 0 0 0 1em;
        vertical-align: middle;
      }

      &:hover {
        text-decoration: none;
        background-color: #333;

        span {
          color: $foe-white;
        }

        &::before {
          background-color: #f1f1f1 !important;
        }
      }
    }

    &.email a::before {
      background-color: #ffa860;
      mask: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M502.3%20190.8c3.9-3.1%209.7-.2%209.7%204.7V400c0%2026.5-21.5%2048-48%2048H48c-26.5%200-48-21.5-48-48V195.6c0-5%205.7-7.8%209.7-4.7%2022.4%2017.4%2052.1%2039.5%20154.1%20113.6%2021.1%2015.4%2056.7%2047.8%2092.2%2047.6%2035.7.3%2072-32.8%2092.3-47.6%20102-74.1%20131.6-96.3%20154-113.7zM256%20320c23.2.4%2056.6-29.2%2073.4-41.4%20132.7-96.3%20142.8-104.7%20173.4-128.7%205.8-4.5%209.2-11.5%209.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5%2064%200%2085.5%200%20112v19c0%207.4%203.4%2014.3%209.2%2018.9%2030.6%2023.9%2040.7%2032.4%20173.4%20128.7%2016.8%2012.2%2050.2%2041.8%2073.4%2041.4z%22/%3E%3C/svg%3E') no-repeat 50% 50%;
    }

    &.twitter a::before {
      background-color: #1da1f2;
      mask: url('data:image/svg+xml;charset=UTF-8,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M459.37%20151.716c.325%204.548.325%209.097.325%2013.645%200%20138.72-105.583%20298.558-298.558%20298.558-59.452%200-114.68-17.219-161.137-47.106%208.447.974%2016.568%201.299%2025.34%201.299%2049.055%200%2094.213-16.568%20130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772%206.498.974%2012.995%201.624%2019.818%201.624%209.421%200%2018.843-1.3%2027.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969%207.797%2030.214%2012.67%2047.431%2013.319-28.264-18.843-46.781-51.005-46.781-87.391%200-19.492%205.197-37.36%2014.294-52.954%2051.655%2063.675%20129.3%20105.258%20216.365%20109.807-1.624-7.797-2.599-15.918-2.599-24.04%200-57.828%2046.782-104.934%20104.934-104.934%2030.213%200%2057.502%2012.67%2076.67%2033.137%2023.715-4.548%2046.456-13.32%2066.599-25.34-7.798%2024.366-24.366%2044.833-46.132%2057.827%2021.117-2.273%2041.584-8.122%2060.426-16.243-14.292%2020.791-32.161%2039.308-52.628%2054.253z%22/%3E%3C/svg%3E') no-repeat 50% 50%;
    }

    &.facebook a::before {
      background-color: #3b5998;
      mask: url('data:image/svg+xml;charset=UTF-8,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M448%2056.7v398.5c0%2013.7-11.1%2024.7-24.7%2024.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6%205.4-32.9%2033.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6%200-87%2031.5-87%2089.4v49.9h-58.4v67.6h58.4V480H24.7C11.1%20480%200%20468.9%200%20455.3V56.7C0%2043.1%2011.1%2032%2024.7%2032h398.5c13.7%200%2024.8%2011.1%2024.8%2024.7z%22/%3E%3C/svg%3E') no-repeat 50% 50%;
    }

    &.whatsapp a::before {
      background-color: #25d366;
      mask: url('data:image/svg+xml;charset=UTF-8,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M380.9%2097.1C339%2055.1%20283.2%2032%20223.9%2032c-122.4%200-222%2099.6-222%20222%200%2039.1%2010.2%2077.3%2029.6%20111L0%20480l117.7-30.9c32.4%2017.7%2068.9%2027%20106.1%2027h.1c122.3%200%20224.1-99.6%20224.1-222%200-59.3-25.2-115-67.1-157zm-157%20341.6c-33.2%200-65.7-8.9-94-25.7l-6.7-4-69.8%2018.3L72%20359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2%200-101.7%2082.8-184.5%20184.6-184.5%2049.3%200%2095.6%2019.2%20130.4%2054.1%2034.8%2034.9%2056.2%2081.2%2056.1%20130.5%200%20101.8-84.9%20184.6-186.6%20184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5%202.8-3.7%205.6-14.3%2018-17.6%2021.8-3.2%203.7-6.5%204.2-12%201.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8%205.7-9.1%2016.3-30.3%201.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7%200-9.7%201.4-14.8%206.9-5.1%205.6-19.4%2019-19.4%2046.3%200%2027.3%2019.9%2053.7%2022.6%2057.4%202.8%203.7%2039.1%2059.7%2094.8%2083.8%2035.2%2015.2%2049%2016.5%2066.6%2013.9%2010.7-1.6%2032.8-13.4%2037.4-26.4%204.6-13%204.6-24.1%203.2-26.4-1.3-2.5-5-3.9-10.5-6.6z%22/%3E%3C/svg%3E') no-repeat 50% 50%;
    }

    &.fbmsg a::before {
      background-color: #0084ff;
      mask: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M224%2032C15.9%2032-77.5%20278%2084.6%20400.6V480l75.7-42c142.2%2039.8%20285.4-59.9%20285.4-198.7C445.8%20124.8%20346.5%2032%20224%2032zm23.4%20278.1L190%20250.5%2079.6%20311.6l121.1-128.5%2057.4%2059.6%20110.4-61.1-121.1%20128.5z%22/%3E%3C/svg%3E') no-repeat 50% 50%;
    }
  }
}

html.ie6,
html.ie7,
html.ie8,
html.ie9 {
  ul.share-light li a::before {
    display: none;
  }
}

/* stylelint-disable no-descending-specificity */
.share-buttons {
  li {
    a {
      background-color: black;
      display: block;
      width: 32px;
      line-height: 32px;
      border-radius: (32px / 2);
      text-align: center;
      color: $foe-white !important;

      &:hover {
        opacity: .7;
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */

.block-share-light {
  background-color: $foe-dark;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  @include media-breakpoint-up(sm) {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
  }

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;
  }

  h3 {
    color: $foe-white !important;
    margin-bottom: $spacer * 2;
  }
}


// Probably import this guy over to webcore and remove the ugly !important
// 'cuz A's are borked with the link color already when it comes to this point.

$socials: (
  facebook:           #3b5998,
  facebook-messenger: #0084ff,
  fbmsg:              #0084ff,
  messenger:          #0084ff,
  twitter:            #00aced,
  whatsapp:           #25d366,
  pinterest:          #cb2027,
  instagram:          #db3474,
  e-mail:               $foe-primary,
);

@each $name, $color in $socials {
  .btn-#{$name} {
    @include button-variant($color, $color);

    color: color-yiq($color) !important;
  }

  .btn-outline-#{$name} {
    @include button-outline-variant($color);

    color: color-yiq($color) !important;
  }
}
