.recent-supporters {
  padding: 0;

  .supporter {
    border: 0 none transparent;
    background-color: transparent;
    border-bottom: 1px solid $gray-400;
    padding-left: 0;
    padding-right: 0;

    .name {
      font-size: $h5-font-size;
      margin-bottom: $headings-margin-bottom;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      line-height: $headings-line-height;
      color: $headings-color;
      text-transform: capitalize;
    }
  }
}
