.webform-progressbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
  position: relative;
  overflow: hidden;
  margin-top: $spacer;
  margin-bottom: $spacer;

  // Pseudobar hiding on left and right of main container
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    z-index: 2;
    background-color: $foe-white;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.webform-progressbar-page {
  border: 0;
  padding: 0;
  position: relative;

  .webform-progressbar-page-label {
    position: relative;
    background-color: $gray-500;
    color: $foe-white;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    padding: 0;
    top: 0;
    left: 0;
    display: block;
    z-index: 3;
    font-weight: 600;
    font-family: $font-family-sans-serif;

    .webform-progressbar-page-label-text {
      font-size: 13px;
      display: none;
    }
  }

  &.current {
    .webform-progressbar-page-label {
      background-color: $foe-primary;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 11px;
      bottom: 11px;
      z-index: 1;
      border-radius: 10px;
    }

    &::before {
      left: -9999px;
      right: 5px;
      background-color: $foe-dark;
    }

    &::after {
      left: 5px;
      right: -9999px;
      background-color: $gray-500;
    }
  }

  &.previous {
    .webform-progressbar-page-label {
      background-color: $foe-dark;
      background-image: url(../img/progressbar-arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -90000px;
    }
  }
}

.petition-sidebar .webform-progressbar {
  justify-content: flex-start;

  &::before,
  &::after {
    content: none;
  }

  .webform-progressbar-page {
    flex: 1;

    .webform-progressbar-page-label {
      width: auto;
      padding-right: 10px;
      padding-left: 10px;
      height: auto;
      line-height: 32px;
      border-radius: 0;
      position: relative;

      .webform-progressbar-page-label-text {
        display: block;
      }

      .webform-progressbar-page-label-step {
        display: none;
      }
    }

    &::before,
    &::after {
      content: none;
    }

    &.current .webform-progressbar-page-label {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        border: 15px solid transparent;
        height: 32px;
        z-index: 10;
      }

      &::before {
        left: 0;
        border-left-color: $foe-dark;
        background-color: transparent;
      }

      &::after {
        right: -15px;
        border-left-color: $foe-primary;
        background-color: $gray-500;
      }
    }

    &:first-child .webform-progressbar-page-label::before,
    &:last-child .webform-progressbar-page-label::after {
      display: block;
      content: none;
    }
  }
}
