/*
@font-face {
	font-family: Aller;
	src: url(/sites/all/themes/foemorelesszen/assets/hidden-plastics-quiz/static/fonts/Aller_Rg.ttf);
	font-weight: 400;
}
*/

body {
	font-family: 'Libre Franklin', sans-serif;
	background-color: #f3f3f7;
}

/* Header */

.navbar {
	background: #1e234d;
	color: #fff;
	height: 85px;
	border: none;
	position: fixed !important;
	top:0;
	z-index: 11;
	width: 100%;
	margin: 0;
}
.navbar-brand {
	padding: 8px 0;
}
.navbar-brand img {
	width: 162px;
	height: 64px;
	margin-top: 3px;
}

@media (max-width: 767px) {
	.navbar-brand {
		float: none;
	}
	.navbar-brand img {
		margin: 0px auto 0 auto;
		width: 139px;
		height: 55px;
	}
}

/* Main slides and cards settings */

#slide-container {
    margin-top: 50px;
}
.slide {
	display: none;
	padding: 50px 0;
}

/* Margins */

.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb50 {
	margin-bottom: 50px;
}

/* Buttons */

.btn-default {
	border: none;
	background: #34da96;
	color: #fff;
	border-radius: 8px;
	font-size: 22px;
	transition: all .4s;
	padding: 14px 25px;
	font-weight: 600;
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
	background: #24ca86;
	color: #fff;
}
.btn-grey {
	background: #78818f;
}
.btn-grey:hover {
	background: #68717f;
}
.share-buttons {
	text-align: center;
}
.share-buttons button {
	display: inline-block;
	margin: 6px 10px;
	font-size: 22px;
	font-weight: 600;
	border-radius: 4px;
	padding: 25px 25px;
}
.btn-facebook {
	background-color: #3b5998;
}
.btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus {
	background-color: #2b4988;
}
.btn-facebook img {
	height: 23px;
    position: relative;
	top: -3px;
	margin-right: 10px;
}
.btn-twitter {
	background-color: #1da1f2;
}
.btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus {
	background-color: #0d91e2;
}
.btn-twitter img {
	height: 23px;
    position: relative;
	top: -3px;
	margin-right: 10px;
}	
.btn-whatsapp {
	background-color: #25d366;
}
.btn-whatsapp:hover, .btn-whatsapp:active, .btn-whatsapp:focus {
	background-color: #15c356;
}
.btn-whatsapp img {
	height: 25px;
    position: relative;
	top: -2px;
	margin-right: 10px;
}
@media (min-width: 769px) {
	.btn-whatsapp {
		display: none !important;
	}
}
.btn-email {
	background-color: #e22a51;
}
.btn-email:hover {
	background-color: #d21a41;
}
.btn-email img {
	height: 25px;
    position: relative;
	top: -2px;
	margin-right: 10px;
}
.btn-text {
	background: none;
	border: none;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 600;
}
.btn-donate {
	font-size: 26px;
}
.buttons-container {
	text-align: center;
}
.buttons-container button {
}
.buttons-container-50 {
	margin-top: 30px;
}
.buttons-container-50 button {
	width: 48%;
}
.buttons-container-50 button:first-child {
	margin-right: 3%;
}
.buttons-container-donate button {
	width: 43%;
	margin: 15px 0;
}
.buttons-container-donate button:nth-child(odd) {
	margin-right: 8%;
}

@media (max-width: 991px) { 
	.share-buttons button {
		width: 90%;
		font-size: 20px;
	}
	.btn-facebook img, .btn-twitter img, .btn-whatsapp img {
		height: 26px;
		position: relative;
		top: -2px;
		margin-right: 10px;
	}
	.btn-email img {
		height: 28px;
	}
	.buttons-container button {
		font-size: 22px;
		width: 90%;
	}
}

/* Typography */

.text-title-deco {
	color: #1d2550;  /* Fallback: assume this color ON TOP of image */
	//background-image: url('/sites/all/themes/foemorelesszen/assets/hidden-plastics-quiz/static/img/bg1.jpg');
	background: -webkit-linear-gradient(transparent, transparent),
             url('/sites/all/themes/foemorelesszen/assets/hidden-plastics-quiz/static/img/bg1.jpg') no-repeat 50% / cover;
 	background: -o-linear-gradient(transparent, transparent);
	//background-size: 100%;
	//background-position: 50% 50%;
	background-clip: text;
	-moz-background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 70px;
   line-height: 105%;
   font-weight: 900;
}
@media (max-width: 991px) and (min-width: 767px) {
	.text-title-deco {
		font-size: 60px;
	}
}
.text-default {
	font-size: 18px;
	line-height: 160%;
	color: #57626c;
}
.text-default-bigger {
	font-size: 22px;
	line-height: 170%;
	font-weight: 600;
	color: #3a4652;
}
.text-question {
	text-align: center;
	margin: 20px auto;
	font-size: 20px;
	color: #282d55;
}
.text-title {
	font-size: 32px;
	font-weight: 600;
	line-height: 130%;
}
.text-subtitle {
	font-size: 28px;
  	font-weight: bold;
  	color: #3a4652;
}
.text-white {
	color: #fff !important;
}
.text-score-subtitle {
	font-weight: 400;
	font-size: 28px;
}

.slide0-top .text-default {
	margin-bottom: 10px;
	margin-top: 15px;
}
.slide0-top .text-default-bigger {
	
}

/* Quiz answer box */

.questions-container {
	padding-top: 100px;
}
.question-card-container {

}
.question-card {
	position: relative;
	background-color: #fff;
	border-radius: 15px;
	height: 280px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.question-card-option {
	margin-bottom: 15px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.question-card-img {

}
.question-card-text {
	background-color: #fff;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 22px 15px;
	font-size: 20px;
	font-weight: 600;
	transition: all .4s;
}
.question-card-icon {
	position: absolute;
	right: 15px;
	top: 20px;
	display: none;
}
.question-card-icon-img {
	width: 30px;
	height: 30px;
}
.question-card-option:hover .question-card-text, .question-card-option.selected .question-card-text {
	background-color: #56a085;
	color: #fff;
}
.question-card-option.selected .question-card-icon {
	display: block;
} 
.question-card-img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}
.question-card-img.portrait {
	width: 100%;
	height: auto;
}
.score-breakdown-container {
	background: #fff;
	border-radius: 15px;
	padding: 40px;
	margin: 30px auto;
}
.score-breakdown-container .question-card {
	margin-bottom: 25px;
}
.score-breakdown-container .question-card .question-card-text {
	background-color: #56a085;
	color: #fff;
}
.score-breakdown-container .question-card.wrong .question-card-text {
	background-color: #ea5c5c;
	color: #fff;
}
.score-breakdown-container .question-card-overlay {
	display: none;
	position: absolute;
	background-color: #56a085;
	color: #fff;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 22px;
	font-size: 18px;
}
.score-breakdown-container .question-card-text-img {
	display: block;
	position: absolute;
	right: 15px;
	bottom: 22px;
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0.2);
	border-radius: 20px;
}
.score-breakdown-container .question-card.wrong .question-card-overlay {
	background-color: #ea5c5c;
}
.score-breakdown-container .question-card .question-card-icon {
	display: block;
}
.score-breakdown-container .question-card .question-card-icon-img {
	display: none;
}
.score-breakdown-container .question-card.right .question-card-icon-img.right {
	display: block;
	background: #4b8d75;
	border-radius: 20px;
	padding: 7px;
}
.score-breakdown-container .question-card.wrong .question-card-icon-img.wrong {
	display: block;
	background: #d25252;
	border-radius: 20px;
}
.score-breakdown-container .question-card-overlay-img {
	position: absolute;
	top: 20px;
	right: 15px;
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0.2);
	border-radius: 20px;
}
.score-breakdown-container .question-card .title {
	font-size: 20px;
	font-weight: 600;
}
.score-breakdown-container .question-card .copy {
	font-size: 17px;
	margin-top: 20px;
}
.youguessed {
	font-style: italic;
	margin-top: 10px;
}

/* Progress */

.progress-container {
	text-align: center;
	margin: 40px auto;
}
.progress-bar-container {
	width: 32%;
	min-width: 250px;
	background: #d8d8d8;
	height: 30px;
	margin: 0 auto;
	border-radius: 20px;
}
.progress-bar-inner {
	background: #ea5c5c;
	border-radius: 20px;
	height: 30px;
}
.text-progress {
	font-size: 13px;
	margin-top: 10px;
}
.progress-bar-inner.q1 {
	width: 12%;
}
.progress-bar-inner.q2 {
	width: 25%;
}
.progress-bar-inner.q3 {
	width: 37%;
}
.progress-bar-inner.q4 {
	width: 50%;
}
.progress-bar-inner.q5 {
	width: 62%;
}
.progress-bar-inner.q6 {
	width: 75%;
}
.progress-bar-inner.q7 {
	width: 87%;
}
.progress-bar-inner.q8 {
	width: 100%;
}


/* Share preview */

.share-preview-container {
	width: 560px;
	max-width: 90%;
	margin: 30px auto;
	min-height: 120px;
	background: #fff;
	border: 1px solid #eee;
}
.share-preview-img img {
	width: 100%;
}
.share-preview-text {
	padding: 20px;
}
.share-preview-title {
	font-size: 18px;
	font-weight: 600;
}
.share-preview-description {
	font-size: 18px;
}

@media (max-width: 991px) {
	.share-preview-title {
		font-size: 16px;
	}
	.share-preview-description {
		font-size: 16px;
	}
}

/* Before results slides*/

.card {
	border-radius: 10px;
	padding: 50px 40px 60px 40px;
}
.card-blue {
	background: #1e234d;
	color: #fff;
}
.card-white {
	background: #fff;
	color: #1e234d;
}
.card .text-cta {
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
}

/* Slide specific styling and backgrounds */

.slide0-top {
	padding-top: 20px;
}
#slide0 .questions-container {
	padding-top: 0px;
}
#slide-before-results {
	background-image: url('/sites/all/themes/foemorelesszen/assets/hidden-plastics-quiz/static/img/bg1.jpg');
	background-size: cover;
	background-position: center center;
}
.before-results-container {
	padding-top: 70px;
	color: #fff;
}
.score-container {
	width: 600px;
	max-width: 100%;
	margin: 30px auto;
}
.score-container .buttons-container {
	margin: 30px auto;
}
.score-container .buttons-container button {
	width: 220px;
	margin: 0 10px;
}
#slide-donation {
	background-image: url('/sites/all/themes/foemorelesszen/assets/hidden-plastics-quiz/static/img/bg1.jpg');
	background-size: cover;
}
.form-slide-container {
	margin-top: 70px;
}
#slide-score {
	margin-top: 100px;
}
#slide-score .buttons-container {
	margin-bottom: 70px;
}
.card-donate {
	padding: 40px;
}
.card-donate .text-cta {
	font-size: 26px;
}

.mobile-only {
	display: none;
}
.share-container {
	margin-top: 70px;
}
.score-breakdown-container .question-card .question-card-overlay-img-mobile {
	display: none;
}

/* Think we got it wrong box */
.gotitwrong-card {
	position: relative;
	background-color: #f3f3f7;
	padding: 40px 25px 20px 25px;
	border-radius: 15px;
	height: 280px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	font-size: 16px;
	line-height: 160%;
}
.gotitwrong-title {
	font-weight: bold;
	font-size: 18px;
}
.gotitwrong-card a {
	color: #000;
	text-decoration: underline;
}
@media (max-width: 1200px) and (min-width: 767px) {
	.gotitwrong-card {
		padding: 20px;
	}
}
@media (max-width: 991px) and (min-width: 767px) {
	.gotitwrong-card {
		font-size: 14px;
		line-height: 140%;
		padding: 20px;
	}
	.gotitwrong-title {
		margin-bottom: 8px;
	}
}
@media (max-width: 767px) {
	.gotitwrong-card {
		height: auto;
		padding: 20px 0;
		border: none;
		background: none;
		box-shadow: none;
		font-size: 14px;
	}
	.gotitwrong-title {
		font-size: 16px;
	}
}

/* Mobile */
@media (max-width: 1200px) {
	#slide-donation .buttons-container-donate button {
		font-size: 20px;
	}
	.score-breakdown-container .question-card .copy {
		font-size: 15px;
	}
	.question-card-overlay .title {
		padding-right: 30px;
	}
	.card-blue .text-cta {
		font-size: 25px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.card-blue .buttons-container-50 {
		margin-top: 0;
	}
	.card-blue .buttons-container-50 button {
		width: 100%;
		margin: 0 0 15px 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#slide-donation .buttons-container-donate button {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
	}
	.card-donate {
		padding: 25px 30px;
	}
}
@media (max-width: 767px) {
	.mobile-only {
		display: block;
	}
	.desktop-only {
		display: none;
	}
	.slide {
		padding: 50px 15px;
	}
	.text-title-deco {
		font-size: 47px;
		line-height: 120%;
	}
	.text-default {
		font-size: 16px;
	}
	.text-default-bigger {
		font-size: 18px;
	}
	.text-question {
		font-size: 16px;
		text-align: left;
		margin-top: 0;
	}
	.questions-container {
		padding-top: 70px;
	}
	#slide0 .questions-container {
		padding-top: 0px;
	}
	#slide0 .progress-container {
		display: none;
	}
	.progress-bar-container {
		width: 100%;
	}
	.progress-container {
		margin: 0px auto 17px auto;
	}
	.progress-container .text-progress {
		display: none;
	}
	.before-results-container {
		padding-left: 0;
		padding-right: 0;
	}
	.card .text-cta {
		font-size: 20px;
		margin-bottom: 0;
	}
	.card.card-blue {
		padding: 25px;
	}
	.buttons-container-50 button {
		margin: 0 auto 15px auto;
		width: 100%;
	}
	.text-title {
		font-size: 24px;
	}
	.before-result-text {
		padding: 20px;
	}
	.share-container {
		margin-top: 70px;
	}
	#slide-score {
		margin-top: 0px;
	}
	#slide-score .text-title-deco {
		text-align: left;
	}
	#slide-score .text-score-subtitle {
		text-align: left;
		font-size: 22px;
	}
	#slide-score .score-container {
		margin-top: 10px;
	}
	#slide-score {
		//padding-left: 5px;
		//padding-right: 5px;
	}
	#slide-score .buttons-container button {
		width: 100%;
		margin: 0 0 15px 0;
	}
	#slide-score .buttons-container {
		margin-bottom: 20px;
	}
	#slide-score .score-container {
		text-align: left;
	}
	#slide-share {
		padding: 50px 0;
	}
	#slide-share .col-md-12 {
		padding: 0;
	}
	#slide-share .btn-beforego {
		padding: 0 15px;
	}
	#slide-share .btn-beforego button {
		width: 100%;
		margin: 0px auto;
	}
	.share-preview-container {
		border: solid 1px #979797;
	}
	#slide-donation .buttons-container-donate button {
		width: 45%;
	}
	.card-donate .text-cta {
		margin-bottom: 20px;
	}
	.btn-donate {
		padding: 20px 10px;
	}
	#slide-donation .mobile-only {
		margin-top: 25px;
	}
	#slide-donation .text-title {
		text-align: center;
		margin-bottom: 20px;
	}
	/* Score breakdown */
	.score-breakdown-container {
		padding: 0;
		background: none;
		margin-top: 50px;
	}
	.score-breakdown-container .question-card {
		height: auto;
		margin-bottom: 15px;
	}
	.score-breakdown-container .question-card .question-card-text {
		position: relative;
		font-size: 18px;
	}
	.score-breakdown-container .question-card .question-card-img {
		display: none;
	}
	.score-breakdown-container .question-card .question-card-overlay {
		height: auto;
		position: relative;
		padding: 20px 22px 18px 22px;
	}
	.score-breakdown-container .question-card .question-card-overlay .title {
		display: none;
	}
	.score-breakdown-container .question-card .question-card-overlay-img {
		display: none;
	}
	.score-breakdown-container .question-card.opened .question-card-text {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.score-breakdown-container .question-card .question-card-overlay .copy {
		margin-top: -30px;
	}
	.score-breakdown-container .question-card .question-card-icon-img.wrong, .question-card-icon-img.right {
		display: none !important;
	}
	.score-breakdown-container .question-card.opened .question-card-overlay-img.question-card-overlay-img-mobile {
		display: block;
	}
	.score-breakdown-container .question-card.opened .question-card-text-img {
		display: none;
	}
}
@media (max-width: 550px) {
	#slide-donation .buttons-container-donate button {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.card-donate {
		padding: 20px 15px 15px 15px;
	}
	.buttons-container-donate button:nth-child(odd) {
		margin-right: 5%;
	}
	.card-donate .text-cta {
		margin-bottom: 5px;
	}
}
@media (max-width: 375px) {
	#slide-donation .buttons-container-donate button {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
	}
	.card-donate .text-cta {
		margin-bottom: 15px;
	}
}



/* Form styling */
form .url-textfield {
	display: none;
}
form input[type='text'], form input[type='email'] {
	border-radius: 4px;
  	background-color: #f3f3f7;
	  border: solid 1px #e0e0e6;
	  padding: 12px 15px;
}
.form-group label {
	margin: 0;
    font-size: 14px;
}
.element-invisible {
	//display: none;
}
.form-group.webform-component-postcode label {
	//display: none;
	margin: 0;
    font-size: 14px;
}
.form-group.webform-component-textfield.form-type-textfield, .form-group.webform-component-email, .form-group.webform-component-postcode {
	width: 50%;
	float: left;
	padding: 0 10px;
}
.form-group.webform-component-textfield.form-type-textfield label, .form-group.webform-component-email label {
	position: relative;
    top: -77px;
}
.form-group.webform-component-textfield.form-type-textfield, .form-group.webform-component-email {
	position: relative;
	top: 25px;
}
.form-group.webform-component-postcode {
	//clear: both;
	//float: none;
	//margin-top: -20px;
}
.webform-component--consent-fields {
	clear: both;
	float: none;
}
.form-submit {
	border-radius: 8px;
	  background-color: #34da96;
	  border: none;
	  padding: 12px 25px;
	  width: auto;
	  font-size: 22px;
	  font-weight: bold;
	  margin: 0 auto;
}
.form-submit:hover, .form-submit:focus, .form-submit:active {
	background-color: #24ca86;
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
	width: auto;
}
.webform-component-markup.webform-component--consent-fields--dpa-statement-display {
	padding: 0 10px;
	font-size: 14px;
}
.webform-component-markup.webform-component--consent-fields--consent-radios--radio-consent-heading {
	padding: 0 10px;
	font-size: 14px;
	margin-top: 10px;
}
.webform-component-markup.webform-component--consent-fields--consent-radios--radio-consent-heading h4 {
	font-size: 14px !important;
}
.webform-component-radios.webform-component--consent-fields--consent-radios--email-opt-in {
	padding: 0 10px;
	font-size: 14px;
	display: block !important;
	text-align: left;
}
.webform-component-radios.webform-component--consent-fields--consent-radios--email-opt-in label {
	display: block;
}
.webform-component-radios.webform-component--consent-fields--consent-radios--email-opt-in #edit-submitted-consent-fields-consent-radios-email-opt-in {
	display: block;
	margin-top: 15px;
}
#edit-submitted-consent-fields-consent-radios-email-opt-in .radio {
	display: inline-block;
	width: 80px;
}

/* The container */
.picker-radio .picker-label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.picker-radio .picker-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.picker-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #f3f3f7;
    border-radius: 50%;
    border: solid 1px #e0e0e6;
}

/* On mouse-over, add a grey background color */
.picker-radio .picker-label:hover input ~ .checkmark {
    background-color: #f3f3f7;
}

/* When the radio button is checked, add a blue background */
.picker-radio .picker-label input:checked ~ .checkmark {
    background-color: #f3f3f7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.picker-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.picker-radio .picker-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.picker-radio .picker-label .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #777;
}

/* Form styling mobile*/

@media (max-width: 767px) {
	#slide-form {
		padding: 50px 0;
	}
	#slide-form .text-subtitle {
		font-size: 21px;
		margin-bottom: 20px;
	}
	#slide-form .form-submit {
		width: 100%;
	}
	#slide-form .text-title {
		margin-bottom: 10px;
	}
	#slide-form .text-petition {
		display: none;
	}
	.form-container {
		padding: 30px 15px;
	}
	.form-group.webform-component-textfield.form-type-textfield, .form-group.webform-component-email, .form-group.webform-component-postcode {
		width: 100%;
		float: none;
		padding: 0 10px;
	}
}
