// Action panel
.foe-quiz-action-inner {
  position: relative;
  opacity: 1;
  border-radius: $quiz-border-radius/2;
  padding: $spacer*2;
  background-color: $foe-extradark;
  width: 100%;

  @include typography() {
    color: $foe-white !important;
  }

  // We'll set this boy absolute, so we can grab its height from JS
  .foe-quiz-action-content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    // pos: absolute ignores padding of the parent container
    // and the height is messed up on javascript side
    // if we set those on top/left/right
    padding: $spacer*2;
  }

  // Refer to src/js/quiz/quizaction.service.js
  &.gsap-done {
    width: 100% !important;
    margin-bottom: $spacer*4; // gives a bit of scroll space on the slide

    @include media-breakpoint-up(lg) {
      transform: translateX(-50%) !important;
    }

    .foe-quiz-action-content {
      opacity: 1;
      position: relative;
      pointer-events: auto;
      padding: 0;
      z-index: 2;
    }
  }
}

// Forms re-styling
.quiz-override {
  @include typography() {
    color: $foe-white !important;
  }

  &.node-donation,
  &.node-petition {
    background-color: transparent;

    // White ajax loader
    .webform-ajax-slide-loading-dummy .container div {
      background-image: url(../img/ajax-white.svg);
    }

    form {
      // Hide some of the elements we don't really need
      .tooltip,
      .resizable-textarea .grippie {
        display: none;
      }

      .help-block {
        color: $foe-offwhite;
      }

      // Set typography to work on a dark background
      a:not(.btn) {
        color: $foe-accent;
      }

      ul li,
      label,
      legend .fieldset-legend {
        color: $foe-offwhite !important;
      }

      .btn {
        text-transform: uppercase !important;

        @extend .btn-rounded;
      }

      // Transparent inputs
      input:not([type=submit]),
      select,
      textarea {
        color: $foe-offwhite !important;
        background-color: $foe-extradark !important;
        border-radius: .5rem !important;
        border: 1px solid $foe-offwhite !important;

        &::placeholder {
          color: darken($foe-offwhite, 25%) !important;
        }

        &:focus {
          border: 1px solid $foe-offwhite !important;
        }
      }

      // Reset the selectbox dropdown
      select option {
        background-color: $foe-offwhite !important;
        color: $foe-text !important;
      }

      // Set the form action buttons outside the blue canvas
      .form-actions {
        position: absolute;
        width: 100%;
        transform: translateX($spacer*-1);

        @include media-breakpoint-up(lg) {
          transform: translateX($grid-gutter-width/-2);
        }
      }

      // Steps
      .webform-progressbar {
        &::before,
        &::after {
          background-color: $foe-extradark;
        }

        .webform-progressbar-page {
          &.current {
            &::after {
              background-color: $gray-500;
            }

            .webform-progressbar-page-label {
              background-color: $foe-accent;
              color: $foe-extradark;
            }
          }

          &.next {
            .webform-progressbar-page-label {
              background-color: $gray-500;
            }
          }
        }
      }

      // Stacks donation buttons
      .big-radio-buttons,
      div[class*=donation-amount],
      div[class*=dd-amount],
      div[class*=regular-amount] {
        .select-or-other {
          .form-type-textfield input {
            border-radius: 0 .5rem .5rem 0 !important;
            border-left: none !important;
          }

          .input-group-text {
            font-weight: bold;
            color: $foe-offwhite;
            background-color: transparent;
            border-radius: .5rem 0 0 .5rem;
            border: 1px solid $foe-offwhite;
          }
        }

        .form-radios {
          flex-direction: column;

          .radio {
            label {
              text-transform: uppercase !important;
              background: transparent;
              border: 2px solid $foe-offwhite;
              color: $foe-offwhite;

              @extend .btn-rounded;
            }

            input:checked {
              + label {
                color: $foe-extradark;
                background: $foe-accent;
                border: 2px solid $foe-accent;
              }
            }
          }
        }
      }
    }

    &.is-double {
      form {
        // Set the form action buttons outside the blue canvas
        .form-actions {
          @include media-breakpoint-up(lg) {
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
