// General settings
$slide-transition-duration: 250ms;
$ui-progress-height: 72px;

$zindex-quiz-bg: 1;
$zindex-quiz-score: 15;
$zindex-quiz-game: 10;
$foe-black: #2c2c2c;
$quiz-border-radius: 3rem;

// JS helpers
:root {
  --grid-gutter-width: #{$grid-gutter-width};
}
// Our element overrides for the quiz page
body.node-type-quiz {
  header.foe-header {
    display: none;
  }

  section.foe-main {
    background-color: transparent;
    padding-bottom: 0;
  }

  footer.foe-footer {
    display: none;
  }
}

// Set our game canvas sizing. We need to restrict it
// in height size while the game is running, but then release
// all restraint after the game is finished, we might have
// elements overflowing
article[foe-quiz] {
  position: relative;
  min-height: 100vh;
  transition: background-color $slide-transition-duration linear;
  overflow: hidden;

  // Progress bar
  .progress {
    border: 2px solid $foe-white;
    border-radius: 1rem;
  }

  // Background Image
  .foe-quiz-bg {
    position: fixed;
    top: -200px;
    height: calc(100vh + 400px);
    left: 0;
    right: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/quiz/quiz-bg-default.jpg);
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $zindex-quiz-bg + 1;
      transition: background-image 500ms linear;
    }
  }

  // This should be working straight off from web-core @TODO: please check
  // How the typography is reacting to the bg-xxx classes on BS4
  &.bg-offwhite,
  .bg-offwhite {
    @include typography() {
      color: $foe-black;
    }

    .foe-quiz-bg {
      background-color: $foe-offwhite;

      &::after {
        background-image: linear-gradient(to bottom, rgba($foe-offwhite, 1), rgba($foe-offwhite, .7));
      }
    }
  }

  &.bg-extradark,
  .bg-extradark {
    @include typography() {
      color: $foe-white;
    }

    a:not(.btn) {
      color: $foe-accent;
    }

    .foe-quiz-bg {
      background-color: $foe-extradark;

      &::after {
        background-image: linear-gradient(to bottom, rgba($foe-extradark, 1), rgba($foe-extradark, .7));
      }
    }
  }
}

@import 'ui-overlay';
@import 'main-overlay';
@import 'action-panel';
@import 'loading-bar';
@import 'thanks';
