#foe-quiz-main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - #{$ui-progress-height + $foe-nav-height-small});

  @include media-breakpoint-up(md) {
    min-height: calc(100vh - #{$ui-progress-height + $foe-nav-height-medium});

    @media screen and (max-height: 758px) {
      min-height: calc(100vh - #{$ui-progress-height + $foe-nav-height-medium} + 90px);
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - #{$ui-progress-height + $foe-nav-height-large-scrolled});

    @media screen and (max-height: 758px) {
      min-height: calc(100vh - #{$ui-progress-height + $foe-nav-height-large-scrolled} + 90px);
    }
  }

  .quiz-slide {
    z-index: $zindex-quiz-bg;
    width: 100%;

    figure.question-img {
      border: 2px solid $foe-offwhite;
    }

    // When the slide is active
    &:not(.d-none) {
      z-index: $zindex-quiz-game;
    }

    // Inhibit the slider when we give an answer,
    // shouldn't be needed because we hide them but heh
    &.has-answer {
      pointer-events: none !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .quiz-slide-start,
    .quiz-slide-end {
      margin-top: $ui-progress-height*-1;
    }
  }

  .quiz-slide-end {
    padding-bottom: 4rem;

    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }
  }
}
