article[foe-quiz] {
  .fs-slide {
    .container {
      position: relative;
      z-index: 1;
    }
  }

  .skip-breakdown {
    border-bottom: 4px solid $foe-accent;
    text-transform: uppercase;
    font-size: (22/14) * 1rem;
    font-weight: bold;
    color: $foe-accent;
    cursor: pointer;

    &:hover {
      $hover-color: darken($foe-accent, 10%);

      color: $hover-color;
      border-bottom-color: $hover-color;
    }
  }

  .score-card-container {
    margin-bottom: $spacer * 3;

    h5 {
      @include media-breakpoint-up(md) {
        min-height: $spacer * 6;
      }

      @include media-breakpoint-up(lg) {
        min-height: $spacer * 5;
      }

      @include media-breakpoint-up(xl) {
        min-height: $spacer * 4;
      }
    }

    .score-card {
      padding-top: 100%;
      height: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      position: relative;
      overflow: hidden;

      .score-card-overlay {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($foe-extradark, .8);

        .score-copy {
          color: $foe-offwhite;
          padding: $spacer;
          font-weight: bold;
          font-size: (16/14) * 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .btn {
            padding-top: $spacer / 2;
            padding-bottom: $spacer / 2;
          }
        }
      }
    }
  }

  .foe-thanks-action-slide {
    background-color: $foe-extradark;
    border-radius: 3rem;
    padding: $spacer*2;
  }

  .foe-quiz-share-preview {
    figure {
      position: relative;
      border: 2px solid $foe-offwhite;
      margin-top: $spacer * 2;
      margin-bottom: $spacer * 2;

      .foe-quiz-share-data {
        background-color: rgba($foe-extradark, .9);
        padding: $spacer;

        @include media-breakpoint-up(lg) {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }

  #share {
    .btn {
      .svg-inline--fa {
        font-size: 2rem;
        vertical-align: middle;
        margin-right: $spacer;
      }
    }
  }

  #challenge-cta {
    background-color: rgba($foe-accent, .8);
    width: 100%;
    text-align: center;
    transition: transform 500ms ease-in-out;
    padding-top: $spacer;
    padding-bottom: $spacer;
    transform: translateY(100%);

    @include media-breakpoint-up(lg) {
      padding-top: $spacer * 2;
      padding-bottom: $spacer * 2;
    }

    &.in-view {
      transform: translateY(0%);
    }

    .btn {
      min-width: 320px;
    }
  }
}

body.node-type-thank-you-quiz {
  #block-share-light-current-page {
    display: none;
  }
}
